{% extends 'portal/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    Chat
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'chat/chat.css' %}" rel="stylesheet">

    <style>
        .fill {
            min-height: 100%;
            height: 100%;
        }

    </style>
{% endblock %}

{% block content %}

    <!-- Messages -->
    <div class="row content-wrap messages" id="log">
        {% for message in messages %}
            <div class="msg">
                <div class="media-body">
                    <!-- Actions -->
                    <small class="actions pull-right">
                        <a href="#">Delete</a>&nbsp
                    </small>

                    <h5 class="media-heading">{{ message.user }}&nbsp&nbsp&nbsp
                        <small class="time">
                            <i class="fa fa-clock-o"></i>&nbsp{{ message.created_at }}
                        </small>
                    </h5>

                    <small class="col-sm-11">{{ message.body }}</small>
                </div>
            </div>
        {% endfor %}


    </div>
    <!-- End messages -->


    <!--Message box & Send Button-->
    <div class="row send-wrap">
        <div class="send-message">
            <div class="message-text">
                <textarea class="no-resize-bar form-control" rows="2" placeholder="Write a message..."></textarea>
            </div>
            <div class="send-button">
                <a class="btn">Send <i class="fa fa-send"></i></a>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'chat/sockjs-0.3.4.min.js' %}"></script>
    <script src="{% static 'chat/chat.js' %}"></script>

    <script language="javascript" type="text/javascript">
        var current_domain = 'site.com';

        window.channel = "{{ channel.uid }}";
        window.username = 'admin_' + window.channel;

        console.log(window.username);

        window.socket = chat_connection(socket_url, window.channel);

    </script>
{% endblock %}