{% extends 'portal/base.html' %}

{% block title %}
    Channel {{ channel.title }}
{% endblock %}


{% block stylesheet %}
    code {
        font-family: monospace;
    }
{% endblock %}


{% block content %}
    <h3>Channel "{{ channel.title }}"</h3>
    <br />

    <div class="row top_tiles">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-user"></i></div>
          <div class="count">{{ channel.users.count }}</div>
          <h3>Users</h3>
          <p>All users in the chat</p>
        </div>
      </div>

      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-comments-o"></i></div>
          <div class="count">
              {{ channel.messages.count }}
          </div>
          <h3>Messages</h3>
          <p>All messages</p>
        </div>
      </div>
    </div>
    <br />

    <div class="row">
        <div class="col-centered col-md-6">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <td><i class="fa fa-calendar"></i><b> Title:</b></td>
                        <td>{{ channel.title }}</td>
                    </tr>

                    <tr>
                        <td><i class="fa fa-calendar"></i><b> Websites:</b></td>
                        <td>{{ channel.websites|join:", "|default:'-' }}</td>
                    </tr>

                    <tr>
                        <td><i class="fa fa-calendar"><b> Link:</b></i> </td>
                        <td>
                            <code>
                                &lt;script src="chat.js" data-channel-uid="{{ channel.uid }}"&gt;&lt;/script&gt;
                            </code>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>






{% endblock %}
