{% extends 'portal/base.html' %}

{% block title %}
    Channel {{ channel.title }}
{% endblock %}


{% block content %}
    <h3>Channel "{{ channel.title }}"</h3>
    <br />

    <div class="row top_tiles">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-user"></i></div>
          <div class="count">{{ channel.users.count }}</div>
          <h3>Users</h3>
          <p>All users in the chat</p>
        </div>
      </div>

      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-comments-o"></i></div>
          <div class="count">
              {{ channel.messages.count }}
          </div>
          <h3>Messages</h3>
          <p>All messages</p>
        </div>
      </div>
    </div>
    <br />






{% endblock %}
