{% extends 'portal/base.html' %}

{% block title %}
    Delete channel {{ channel.title }}
{% endblock %}

{% block stylesheet %}
    <style type="text/css" media="all">
        .col-centered{
            float: none;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="panel">
        <br/>
        <div class="text-center">
            <h2>Are you sure you want to remove this channel?</h2>
            <div class="clearfix"></div>
        </div>

        <br />

        <div class="panel-body text-center">
            <h3 class="green"><i class="fa fa-comments-o"></i> {{ channel.title }}</h3>

{#            <div class="project_detail">#}
{#                <p><i class="fa fa-calendar"></i> <b>Created at:</b>#}
{#                    <i>{{ channel.created_at }}</i>#}
{#                </p>#}
{##}
{#                <p><i class="fa fa-calendar"></i> <b>Website:</b>#}
{#                    <i><a href="{{ channel.site }}">{{ channel.domain }}</a></i>#}
{#                </p>#}
{##}
{#            </div>#}

            <br/>
            <div class="row">
                <div class="col-centered col-md-4">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td><i class="fa fa-calendar"></i> <b>Created at:</b></td>
                                <td>{{ channel.created_at }}</td>
                            </tr>


                            <tr>
                                <td><i class="fa fa-calendar"></i> <b>Websites:</b></td>
                                <td>{{ channel.websites|join:", " }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <br/><br/>

            <div class="row">
                <div class="col-centered col-md-4">

                    <form action="{% url 'channel-remove' pk=channel.pk %}" method="post">
                        {% csrf_token %}
                        <div class="text-center mtop20">
                            <a href="{% url 'channel-list' %}" class="btn btn-sm btn-primary">Cancel</a>
                            <button type="submit" class="btn btn-sm btn-danger">Remove channel</button>
                        </div>
                    </form>

                </div>
            </div>


        </div>

      </section>
{% endblock %}